<div class="nhsuk-card nhsuk-u-reading-width">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-s">
      Did you find what you were looking for?
    </h2>
    <ul class="nhsuk-list nhsuk-user-feedback-form">
      <li class="nhsuk-user-feedback-form__list-item nhsuk-u-margin-bottom-0">
        <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-4 nhsuk-u-margin-bottom-0 nhsuk-user-feedback-form--yes">
          Yes <span class="nhsuk-u-visually-hidden">I found what I was looking for</span>
        </button>
      </li>
      <li class="nhsuk-user-feedback-form__list-item nhsuk-u-margin-bottom-0">
        <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0 nhsuk-user-feedback-form--no">
          No <span class="nhsuk-u-visually-hidden">I did not find what I was looking for</span>
        </button>
      </li>
    </ul>
  </div>
</div>
